# Dependencias
node_modules/

# Carpeta para imágenes subidas
# uploads/  <-- ¡PONLE UN HASH DELANTE O BÓRRALA!

# Archivos de entorno (variables secretas)
.env

# Logs
logs/
*.log

# Directorios temporales
tmp/
temp/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
